/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: var(--main-font-family, sans-serif);
  font-size: var(--main-text-size);
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-variation-settings: 'wght' var(--fwnormal);
}

.background {
  background-image: var(--rplv), var(--rplg), var(--lg);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  block-size: 100vh;
}

/* Header */

.header {
  margin-top: 100px;
  margin-bottom: 100px;
  background-color: var(--accolorm);
}

.block {
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  border: 2px solid var(--accolor);
  padding-block: clamp(120px, calc(120px + (8 * (100vw - 375px) / 1065)), 128px);
  inline-size: clamp(23.438rem, 30.516vw + 16.285rem, 43.75rem);
}
 
.logo {
  font-family: var(--secondary-font-family);
  font-size: var(--logo-text-size);
  
}

.header-title {
  font-family: var(--secondary-font-family);
  font-size: var(--header-text-size);
  text-transform: uppercase;
}

/* Card list */

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
}

.card-list {
  display: flex;
  flex-direction: column;
  gap: 52px;
  inline-size: clamp(23.438rem, 30.516vw + 16.285rem, 43.75rem);
}

.card {
  border: 2px solid var(--accolor);
  background-color: var(--accolorm);
  min-inline-size: 375px;
  max-inline-size: 700px;
}

.card-title {
  padding: 5px 0 5px 10px;
  font-size: var(--main-text-size);
  font-variation-settings: 'wght' var(--fwbold);
  text-wrap: balance;
}

.block-image {
  position: relative;
  border-bottom: 2px solid var(--accolor);
}

.label {
  position: absolute;
  top: 25px;
  right: clamp(0.813rem, 1.127vw + 0.548rem, 1.563rem);
  opacity: 0.5;
  font-family: var(--secondary-font-family);
  font-size: var(--button-text-size);
  text-shadow:
  -1px 0 var(--accolorm), 
  0 1px var(--accolorm), 
  1px 0 var(--accolorm), 
  0 -1px var(--accolorm);
  font-variation-settings: 'wght' var(--fwnormal);
  mix-blend-mode: hard-light;
}

@supports((text-stroke: 1px #fff) or (-webkit-text-stroke: 1px #fff)) {
  .label {
    text-shadow: none;
    -webkit-text-stroke: 1px #fff;
    text-stroke: 1px #fff;
  }
} 

.card-images {
  display: block;
  object-fit: cover;
  object-position: center;
  block-size: 100%;
  inline-size: 100%;
  border-top: 2px solid var(--accolor);
}

.block-text {
  display: flex;
  flex-direction: column;
  gap: 25px;
  margin: 25px;
}

.block-like {
  display: flex;
  justify-content: end;
  gap: 12px;
  margin: 0 25px 25px 0;
}

.card__icon-button {
  border: none;
  padding-top: 7px;
  background-color: transparent;
  cursor: pointer;
}

.card__like-button {
  padding: 9.5px 0;
  outline-offset: -2px;
  min-inline-size: 130px;
}

.button {
  position: relative;
  border: none;
  outline: 2px solid var(--accolor);
  overflow: hidden;
  background-color: var(--accolorm);
  transition: 0.5s ease-in-out;
  cursor: pointer;
}

.button::after {
  content: "";
  position: absolute;
  inset: 0;
  background-color: var(--accolor);
  transition: transform 0.5s ease-in-out;
  transform: scaleX(0);
  transform-origin: left;
}

.button:hover::after {
  transform: scaleX(1);
}

.button svg, .button__text {
  position: relative;
  z-index: 1;
}

.button:focus {
  box-shadow: 2px 2px 0 0 var(--accolor);
}

.button:focus-visible {
  box-shadow: 2px 2px 0 0 var(--accolor);
}

.button__text {
  color: var(--accolorm);
  font-family: var(--secondary-font-family);
  font-size: var(--button-text-size);
  line-height: 90%;
  font-variation-settings: 'wght' var(--fwbold);
  mix-blend-mode: difference;
}

.save-button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  margin-bottom: 100px;
  padding: 15px 20px;
  background-color: var(--accolorm);
  transition: 0.5s ease-in-out;
}

.save-button:focus {
  box-shadow: 4px 4px 0 0 var(--accolor);
}

.save-button:focus-visible {
  box-shadow: 4px 4px 0 0 var(--accolor);
}

.dialog-floppy[open] {
  display: flex;
  flex-direction: column;
  gap: 30px;
  box-sizing: border-box;
  width: clamp(21.313rem, 1.127vw + 21.048rem, 22.063rem);
  border: 2px solid var(--accolor);
  padding: 28px 28px;
}

.dialog-floppy[open]::backdrop {
  background-color: rgba(0, 0, 0, 0.75);
}

.dialog__content {
  display: flex;
  gap: 20px;
}

.dialog-button {
  padding: 6.5px;
}

.dialog__text {
  font-family: var(--secondary-font-family);
  font-size: var(--button-text-size);
  line-height: 150%;
  text-transform: uppercase;
  font-variation-settings: 'wght' var(--fwbold);
}

.icon {
  width: 21px;
  stroke: var(--accolorm);
  mix-blend-mode: difference;
}

.icon-big {
  flex-shrink: 0;
  width: 39px;
  mix-blend-mode: difference;
}

/* Фильтры */

.brightness {
  filter: brightness(1.1);
}

.contrast {
  filter: contrast(99%);
}

.opacity {
  filter: opacity(99%);
}

.grayscale {
  filter: grayscale(0.3);
}

.saturate {
  filter: saturate(358%);
}

.hue-rotate {
  filter: hue-rotate(90deg);
}

.multiple {
  filter: saturate(358%) hue-rotate(90deg);
}

/** Лайк
 core       - сердцевина
 main-body  - основная часть сердца
 sparks     - вспышка
 contour    - контур
 */

.like-icon path {
  fill: transparent;
  transition: fill .3s ease;
}

.like-icon .sparks {
  fill-opacity: 0;
}

.like-icon .contour {
  fill: var(--accolor);
}

/* active */
.card__icon-button:active .like-icon .core,
.card__icon-button:active .like-icon .main-body {
  fill: var(--accent);
}

/* hover */
.card__icon-button:hover .like-icon .main-body {
  transition-delay: .05s;
}

.card__icon-button:hover:not(:active) .like-icon:not(.is-liked) .main-body,
.card__icon-button:hover:not(:active) .like-icon:not(.is-liked) .core {
  fill: var(--accolor);
}

/* fill heart red */
.like-icon.is-liked {
  transform-origin: center;
  animation: scaleHeart .3s ease-in .1s;
}

.like-icon.is-liked .sparks {
  animation: fillOpacity .3s ease-in .3s;
}

.like-icon.is-liked path {
  fill: var(--accent);
}

.like-icon.is-liked .contour {
  transition-duration: .3s;
}

/* Медиазапросы */

@media (width <= 375px) {
  .save-button {
    flex-direction: column;
  }

  .icon {
    width: 28px;
  }

  .dialog-floppy[open] {
    justify-content: center;
    padding: 32px 42px;
  }

  .dialog__text {
    min-width: 198px;
  }
}